{% extends 'base.html.twig' %}

{% block title %}GM | Véhicule{% endblock %}

{% block body %}
    <h1>Modifier un véhicule</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-md-6">
            {{ form_row(form.marque) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.modele) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.immatriculation) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.annee) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.couleur) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.client) }}
        </div>

        <div class="col-12">
            
            <a href="{{ path('app_vehicule_index') }}" class="btn btn-secondary">Précedent</a>

            <button type="submit" class="btn btn-success">Enregistrer</button>

            <form method="post" action="{{ path('app_vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    {{ form_end(form) }}
{% endblock %}
