{% extends 'base.html.twig' %}

{% block title %}Garage manager - Réparation{% endblock %}

{% block body %}
    <div class="">
        <h1>Réparations<h1>
        <a href="{{ path('app_tache_reparation_new') }}">Nouvelle tachê</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache_reparation in tache_reparations %}
            <tr>
                <td>{{ tache_reparation.id }}</td>
                <td>{{ tache_reparation.description }}</td>
                <td>{{ tache_reparation.status }}</td>
                <td>{{ tache_reparation.dateDebut ? tache_reparation.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache_reparation.dateFin ? tache_reparation.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tache_reparation_show', {'id': tache_reparation.id}) }}"><i class="bi bi-eye-fill"></i></a>
                    <a href="{{ path('app_tache_reparation_edit', {'id': tache_reparation.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ path('app_tache_reparation_delete', {'id': tache_reparation.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
