{% extends 'base.html.twig' %}

{% block title %}GM | Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <a href="{{ path('app_client_index') }}" class="btn btn-secondary">Précedent</a>

        <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-primary mx-2">Modifier</a>

        <form method="post" action="{{ path('app_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>

    <table class="table table-hover table-bordered table-striped align-middle mt-4">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Modele</th>
                <th>Immatriculation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.marque }} {{ vehicule.modele }}</td>
                <td>{{ vehicule.immatriculation }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}" class="btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></a>
                    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-outline-secondary"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ path('app_vehicule_delete', {'id': vehicule.id}) }}" class="btn btn-outline-secondary"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun véhicule enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
