{% extends 'base.html.twig' %}

{% block title %}GM | Employe{% endblock %}

{% block body %}
    <h1>Employe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employe.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ employe.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ employe.adresse }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ employe.poste }}</td>
            </tr>
            <tr>
                <th>Date_embauche</th>
                <td>{{ employe.dateEmbauche ? employe.dateEmbauche|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <a href="{{ path('app_employe_index') }}" class="btn btn-secondary">Précedent</a>

        <a href="{{ path('app_employe_edit', {'id': employe.id}) }}" class="btn btn-primary mx-2">Modifier</a>

        <form method="post" action="{{ path('app_employe_delete', {'id': employe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
            <button class="btn btn-danger">Supprimer</button>
    </form>
    </div>
{% endblock %}
